h1 {
    color: var(--text);
    text-align: center;
    text-transform: uppercase;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 0.8rem;
}