/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --main: #2c3639;
  --secondary: #3f4e4f;
  --button: #dcd7c9;
  --text: #dcd7c9;
}

h1 {
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia;
}
